body {
    margin: 0;
}

#allSpellsContainer {
    padding-top: 123px;
    background: #292929
}

#allSpellsContainer h1, #allSpellsContainer h2, #allSpellsContainer h3  {
    color: #b77d3b;
}

#allSpellsContainer dl dt:first-child {
    margin-top: 0;
}

dt {
    margin: 15px 0;
}

dd {
    margin-top: 5px;
    margin-bottom: 5px;
}
.spell {
    color: #b2b2b2;
    text-decoration: none;
}

#filtros {
    display: grid;
    grid-template-columns: 200px auto 200px;
    padding: 0 10px;
}

input[type="text"], input[type="submit"] {
    background-color:#202020;
    border: 2px solid #101010;
    color: #b2b2b2;
    border-radius: 5px;
    height: 35px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="radio"] {
    display: none;
}

.classesFilterDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    margin: auto;
    width: 95%;

}

.classesFilterDiv label, .classesFilterDiv button {
    font-size: 16px;
    flex: 1;
    text-align: center;
    padding: 5px 5px;
    border: 2px solid #653d14;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b77d3b;
    color: #653d14;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.classesFilterDiv input[type="radio"]:checked + label {
    background-color: #653d14;
    color: white;
    border-color: #b77d3b;
    color: #b77d3b;    
}

.addSpell {
    display: inline-grid;
    border:1px solid #b77d3b;
    background-color:#202020;
    color: #b77d3b;
    text-decoration: none;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

span.addSpell {
    font-size: 12px;
}

input[type="submit"] {
    cursor: pointer;
}

.stickyDiv {
    width: calc(100% - 10px);
    position: fixed;
    top: 0px;
    background-color: #202020;
    margin: 0;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.allSpellsContainer .spell.first {
    margin-top: 200px;   
}

.span.spell.first, dl {
    margin: 0 10px;
}

#firstSpell {
    margin: 0 5px;
}

.subDiv {
    display: flex;
    justify-content: space-between;
    color: #b77d3b;
}
.subDiv a {
    text-decoration: none;
    padding: 0 10px;
    color: #b77d3b;
}
.subDiv a:visited {
    color: #b77d3b;
}


.subDiv div {
    align-content: center;
    padding-right: 10px;
}

.subDiv2 {
    display: grid;
    grid-template-columns: 200px auto 200px;
    height: 55px;
}

#volverArriba {
    transition: 0.3s;
    display: grid;
    border-radius: 50px;
    background-color: #b77d3b;
    color: #000000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    align-content: center;
    opacity: 1;
    justify-content: center;
    border: 2px solid #202020 ;
}

.hidden {
    transition: 0.3s;
    opacity: 0 !important;
}

#spellListHehe {
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    column-gap: 5px;
    row-gap: 20px;
    height: fit-content;
}

.displayColumns {
    grid-template-columns: 33% 33% 33%;
}

.displayList {
    grid-template-columns: 100%;
}

.displayColumns .dlConFilete {
    /* border-style: hidden solid; */
    padding: 0px 20px;
}


.selectedDisplay {
    background-color: #2e2e2e;
    border-radius: 10px;
}
.actualSpellList {
    display: grid;
}
.displayList .actualSpellList {
    grid-template-columns: 33% 33% 33%;
}

div#subDiv3, div#subDiv4 {
    background: #202020;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
    align-items: center;
}

div#subDiv3 {
    padding: 0 5px 8px;
    grid-template-columns: 60% 40%;
}

#subDiv3 img {
    width: 27px;
    padding: 5px;
}

#subDiv3 div {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

div#subDiv4 {
    padding: 0 5px 8px;
    max-width: 210px;
    justify-content: center;
    align-content: center;
}
div#subDiv4 button {
    text-align: center;
    padding: 7px 5px;
    border: 2px solid #653d14;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b77d3b;
    color: #653d14;
    width: 160px;
    font-size: 16px;
}

.levelFilterDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    margin: auto;
    width: 95%;
}

.levelFilterDiv label, .levelFilterDiv button {
    font-size: 16px;
    flex: 1;
    text-align: center;
    padding: 5px 5px;
    border: 2px solid #653d14;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b77d3b;
    color: #653d14;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.levelFilterDiv input[type="radio"]:checked + label {
    background-color: #653d14;
    color: white;
    border-color: #b77d3b;
    color: #b77d3b;    
}