#charDiv {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 20px;
    margin: 10px;
}

#fullBodyImg {
    width: 100%;
    border-radius: 5px;
}

#charDiv h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

#charDiv h1, #charDiv h2, #charDiv h3  {
    color: #b77d3b;
}

#charSubTitle {
    color: #b2b2b2
}

.spellsInfo {
    color: #b2b2b2;
    margin: 3px 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    align-content: end;
}

#showPdfButton {
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #b77d3b;
    border: 2px solid #653d14;
    cursor: pointer;
}

#embedContainer {
    display: none;
    position: fixed;
    top: 1%;
    left: 20%;
    width: 79%;
    height: 94%;
}

#embedTopBar {
    display: grid;
    justify-content: end;
    background-color: #202020;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#closeEmbed {
    display: grid;
    background-color: #690500;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.tabs {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1090px;
}


.tab {
    background-color: #333;
    padding: 10px 20px;
    /* border-radius: 6px 6px 0 0; */
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
    border:1px solid #653d14;
    border-style: solid solid none solid;
    color: #b77d3b;
    font-size: 17px;
    text-transform: uppercase;
}

.tab:hover {
    background-color: #653d14;
}

.tab.active {
    background-color: #292929;
    color: #fff;
}

.spellList {
    display: none;
    padding: 0px 15px;
    border-radius: 0 0 5px 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1060px;
    margin-bottom: 5px;
    background-color: #292929;
    height: 215px;
}
.spellList.active {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: repeat(6, 34px);
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 1400px) {
    .spellList {
        max-width: 696px;
    }

    
    .spellList.active {
        grid-template-columns: 350px 350px;
    }

    #embedContainer {
        top: 1%;
        left: 28%;
        width: 71%;
        height: 94%;
    }
}



.spellList a {
    height: 24px;
    align-self: center;
}

.spellList {
    --sb-track-color: #353535;
    --sb-thumb-color: #b77d3b;
    --sb-size: 10px;
}

.spellList::-webkit-scrollbar {
    width: var(--sb-size);
}

.spellList::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 2px;
}

.spellList::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 2px;
}
  
a.tab {
    text-decoration: none;
    color: #b77d3b;
    padding: 9px 20.25px;
    font-size: 18px;
}

.tab a:visited {
    color: #b77d3b;
}

.charStat {
    width: 72px;
    padding: 5px 0px;
    border: 1px solid #b77d3b;
    border-style:none solid solid;
    display: grid;
    justify-content: center;
    height: 70px;
}

.charStat h3 {
    margin: 0;
    margin-top: -4px;
    font-size: 12px;
    font-family: 'EB Garamond';
}

.charStat .stat {
    font-size: 35px;
    text-align: center;
}

.charStat .modifier {
    position: relative;
    top: 5px;
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 2px 10px;
    background-color: #2e2e2e;
    border-radius: 40px;
    border: 1px solid #b77d3b;
}

.charStatContainer {
    width: fit-content;
    background-color: #202020;
    color: #d9ac79;
}

.charStatContainer .decorator {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: 5px;
}

.charStatContainer .decorator div {
    border: 1px solid #b77d3b;
}
.charStatContainer .decorator .leftCorner {
    border-style: none solid solid none;
    border-radius: 0 0 20px 0;
    background-color: #2e2e2e;
}
.charStatContainer .decorator .rightCorner {
    border-style: none none solid solid;
    border-radius: 0 0 0 20px;
    background-color: #2e2e2e;
}
.charStatContainer .decorator .center {
    border-style: solid none none none;
    border-radius: 0;
}

.textHidden {
    /* font-size: 0px; */
    color: #00000000;
}

.charStats {
    display: flex;
    gap: 20px;
}

.additionalStats {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

span#Passive, span#ProfBonus, .stValue {
    position: relative;
    /* top: -10px; */
    left: 7px;
    padding: 8px 13px;
    display: grid;
    align-content: center;
    justify-content: center;
    background: #292929;
    width: fit-content;
    border: 1px solid #b77d3b;
    font-size: 22px;
    border-radius: 20px;
}

.stValue {
    font-size: 18px;
    left: 8px;
    padding: 5px 13px !important;
}

.stInfo {
    padding: 2px 30px !important;
    width: 40%;
    text-align: center;
}

#ppasInfo, #profInfo, .stInfo {
    border: 1px solid #b77d3b;
    border-style: solid solid solid none;
    padding: 5px 30px;
    align-self: center;
    height: fit-content;
    border-radius: 0 10px 10px 0;
    background-color: #292929;
}

#pPasContainer, #profContainer {
    display: flex;
    padding: 5px 0px;
    overflow: visible;
    align-content: center;
    color: #d9ac79;
}
#pPasContainer *, #profContainer *{
    background-color: #292929;
}   

.armorStat {
    clip-path: polygon(50% 0%, 79% 7%, 100% 8%, 98% 50%, 84% 82%, 50% 100%, 16% 82%, 2% 50%, 0 8%, 21% 7%);
    clip-path: polygon(50% 0%, 79% 7%, 100% 8%, 98% 50%, 79% 78%, 50% 100%, 21% 78%, 2% 50%, 0 8%, 21% 7%);
    background-color: #b77d3b;
    padding: 1px;
    width: 70px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 98%;
    grid-template-rows: 98%;
}

.armorStat div {
    clip-path: inherit;
    background-color: #202020;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}
.armorStat div h3 {
    margin: 0;
    margin-top: -4px;
    line-height: 0.8;
    padding: 13px 0 0 0;
    font-size: 12px;
    font-family: 'EB Garamond';
}
.armorStat div .stat {
    font-size: 35px;
    text-align: center;
    color: #d9ac79;
    margin-top: -14px;
}


.healthStat {
    /* clip-path: polygon(50% 0%, 79% 7%, 100% 8%, 98% 50%, 84% 82%, 50% 100%, 16% 82%, 2% 50%, 0 8%, 21% 7%);
    clip-path: polygon(50% 0%, 79% 7%, 100% 8%, 98% 50%, 79% 78%, 50% 100%, 21% 78%, 2% 50%, 0 8%, 21% 7%); */
    /* clip-path: path("M 100 30 C 100 0, 180 0, 180 60 C 180 120, 100 160, 100 200 C 100 160, 20 120, 20 60 C 20 0, 100 0, 100 30 Z"); */
    clip-path: polygon(
        50% 100%,
        35% 90%,
        20% 75%,
        10% 60%,
        5% 40%,
        5% 25%,
        15% 10%,
        30% 5%,
        40% 10%,
        50% 18%,
        60% 10%,
        70% 5%,
        85% 10%,
        95% 25%,
        95% 40%,
        90% 60%,
        80% 75%,
        65% 90%
      );
    background-color: #b77d3b;
    padding: 1px;
    width: 85px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 98%;
    grid-template-rows: 98%;
}

.healthStat div {
    clip-path: inherit;
    background-color: #202020;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}
.healthStat div h3 {
    margin: 0;
    margin-top: -4px;
    line-height: 0.8;
    padding: 24px 0 0 0;
    font-size: 12px;
    font-family: 'EB Garamond';
}
.healthStat div .stat {
    font-size: 35px;
    text-align: center;
    color: #d9ac79;
    margin-top: -20px;
}

.headerDisplay {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.HPACDiv {
    height: 88px;
    display: flex;
    gap: 20px
}

#stContainer {
    display: grid;
    grid-template-columns: 100%;
    color: #d9ac79;
    row-gap: 5px;
}

#stContainer h3 {
    margin: 10px 0 2px
}

.stDiv {
    display: flex;
    align-items: center;
}

input[type="radio"][disabled]{
    appearance: none; /* Remove default ugly browser styling */
    background-color: #653d14; /* Coral color when checked and disabled */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

input[type="radio"][disabled]:checked {
    appearance: none; /* Remove default ugly browser styling */
    background-color: #653d14; /* Coral color when checked and disabled */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

input[type="radio"][disabled]:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #bb7d3b;
    border-radius: 50%;
}

#sheetButtons {
    display: flex;
    gap: 5px
}

#topContent {
    display: flex;
    gap: 100px;
}

#skillsDiv {
    margin-top: 20px;
    max-height: 400px;
}

#skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillDiv {
    display: flex;
    align-items: center;
}

.skillDiv * {
    background-color: #292929;
}

.skillsContainerCol {
    display: grid;
    gap: 5px;
    color: #d9ac79;
}

.skillDiv .stInfo {
    width: 100px;
}

.stDiv .stValue {
    width: 20px;
<<<<<<< Updated upstream
=======
}

.stValue:hover, .highlightable:hover, .modifier:hover {
    box-shadow: 0 0 8px rgba(255,153,51,0.3);
    transform: scale(1.05);
  }

.mist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/imgs/mist.png');
    background-size: 600px 600px; /* o 100% según el diseño */
    background-repeat: repeat;
    opacity: 0.3; /* muy sutil */
    animation: mover-bruma 120s linear infinite;
    z-index: 0;
    pointer-events: none;
}

@keyframes mover-bruma {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}

  .contenedor-linterna {
    position: fixed;
    top: -12px;
    right: 40px;
    width: 64px;
    height: 64px;
    z-index: 10;
  }
  
  .linterna {
    width: 72px;
    height: 124px;
    background-image: url('../resources/imgs/linterna_on.png');
    background-size: cover;
    z-index: 2;
    position: relative;
  }

  
  .linterna_off {
    background-image: url('../resources/imgs/linterna_off.png') !important;
  }

  .haz-de-luz {
    position: fixed;
    top: 900px;
    height: 3600px;
    width: 3600px;
    right: 900px;
    border-radius: 100%;
    background: radial-gradient(
        circle at right top,
        rgba(255, 204, 128, 0.35) 0%,
        rgba(232, 174, 100, 0.32) 8%,
        rgba(210, 144, 90, 0.30) 16%,
        rgba(190, 110, 70, 0.27) 24%,
        rgba(160, 90, 50, 0.22) 32%,
        rgba(130, 70, 35, 0.18) 40%,
        rgba(100, 50, 25, 0.14) 48%,
        rgba(70, 35, 20, 0.10) 56%,
        rgba(40, 20, 10, 0.08) 64%,
        rgba(20, 10, 5, 0.05) 72%,
        rgba(10, 5, 2, 0.03) 85%,
        rgba(0, 0, 0, 0) 100%
    );
      
      
    transform: translate(50%, -50%);
    animation: luz-calida-fluida 3s ease-in-out infinite;
    mix-blend-mode: screen;
    pointer-events: none;
    filter: blur(30px);
    z-index: 1;
  }
  

  
  .haz-de-luz_off {
    /* display: none; */
    background: #1818186b;
    animation: none;
  }
  
  
  @keyframes luz-calida-fluida {
    0%   { transform: translate(50%, -50%) scale(1); opacity: 0.18; }
    25%  { transform: translate(50.5%, -50.3%) scale(1.03); opacity: 0.25; }
    50%  { transform: translate(49.8%, -49.9%) scale(1.06); opacity: 0.22; }
    75%  { transform: translate(50.3%, -50.1%) scale(1.01); opacity: 0.2; }
    100% { transform: translate(50%, -50%) scale(1); opacity: 0.18; }
  }
  
  
  
  
  
  .card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .personaje {
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
  }

  .stat, .stValue, #profContainer, #pPasContainer {
    cursor: default;
  }

.spellList {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.spellList.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.spellList.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.spellCounter {
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.spellCounter.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.spellCounter.fade-in {
    opacity: 1;
    transform: translateY(0);
}


@keyframes escribirTitulo {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  #charDiv h1, h2 {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: escribirTitulo 1.5s steps(20) forwards;
  }

#gancho {
    width: 32px;
    height: 16px;
    position: absolute;
    left: 18px;
    top: 12px;
    z-index: 3;
}

.fallen-contenedor-linterna {
    transition: 1s all ease-in;
    transform:translateY(1800px) ;
}
.charInfo {
    width: 100%;
}
@media only screen and (max-width: 1465px) {
    .charInfo {
        width: 622px;
    }

}
#spellListContainer {
    display: grid;
    grid-template-columns: calc(100% - 90px) 90px;
    max-width: 1090px;
}

.spellCounter {
    background-color: #292929;
    border-left: 1px solid #653d14;
    color: #b2b2b2;
    text-align: center;
    grid-template-rows: 25px 25px auto 25px;
    display: none;
}
.spellCounter.active {
    display: grid;
}
.spellCounter h3 {
    margin: 4px 0;
    font-size: 16px;
}
.spellCounter h5 {
    margin: 4px 0;
}

.spellCounterInner {
    display: grid;
    padding: 5px 5px 10px;
}

.spellSpace {
    transition: .5s;
    background-color: #202020;
    margin: 2px 0;
    border-radius: 5px;
}

.spellSpace.checked {
    transition: .5s;
    background-color: #653d14;
}

.counterButtons {
    display: grid;
    grid-template-columns: 21px 21px;
    grid-template-rows: 21px;
    justify-content: center;
    gap: 5px;
}

.counterButtons button {
    border: 2px solid #b77d3b;
    background-color: #292929;
    color: #b77d3b;
    font-weight: 600;
    border-radius: 5px;
    padding: 0px;
    display: grid;
}

#imgAmpliadaContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#spellAmpliadoContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#imgAmpliadaContainer.hidden, #spellAmpliadoContainer.hidden {
    display: none !important;
}

#imgAmpliada {
    height: 100%;
    border-radius: 10px;
}

#imgAmpliadaInnerContainer {
    display: flex;
}

#fullBodyImg,#closeImage {
    cursor: pointer;
}

#closeImage, #closeSpellIframe {
    transition: .5s;
    height: 26px;
    width: 26px;
    border-radius: 10px;
    margin: 10px 0 0 -36px;
    border: 0;
    font-weight: 600;
    background: #ffffff94;
    color: #653d14
}

#closeSpellIframe {
    margin: 14px 0px 0px -40px !important;
}


#closeImage:hover, #closeSpellIframe:hover { 
    transition: .5s;
    background-color: #ffffff;
    color: #b77d3b
}


#spellAmpliadaInnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

#spellAmpliadaInnerContainer iframe {
    width: calc(100% - 26px);
    height: 100%;
}

#charDiv:has(.hidden) .charControls, #charDiv:has(.hidden) .charInfo {
    transition: .3s;
}
#charDiv:has(.shown) .charControls, #charDiv:has(.shown) .charInfo {
    transition: .3s;
    opacity: 0.2 !important;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}