html {
	height: 100vh;
	width: 100vw;
	margin: 0px;
    position: relative;
}

body {
    position: absolute;
	height: 100%;
	width: 100%;
	margin: 0px;
}

#bodyContainer {
    position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
}

#formContainer {
	background-color: #1e1e1e;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 6px 12px rgba(30, 30, 30, 1);
	-moz-box-shadow: 0px 0px 6px 12px rgba(30, 30, 30, 1);
	box-shadow: 0px 0px 6px 12px rgba(30, 30, 30, 1);
    width: 92%;
    height: 78%;
    padding: 1%;
}

h1, h2, h3, h5 {
    color: #b77d3b
}
h3 {
    height: 24px;
}
#nameRaceContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

#step1 h2 {
    display: inline-block;
}

h3, h5 {
    display: inline-block;
}

.loginOption {
	border-radius: 20px 0 0 20px;
    background-color: #202020;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    justify-self: center;
}

.loginOption form {
    display: grid;
    margin: 20px 0;
    padding: 20px;
}

/* form input[type="text"] {
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 15px;
    box-sizing: border-box;
} */

/* #formFieldsContainer .formInputContainer fieldset{
    background-color: rgb(0 0 0 / 40%);
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    -webkit-box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    border: none;
    font-size: 16px;
    overflow: hidden;
    position: relative;
} */

.errorMessage{
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0;
    text-align: center;
}

.formTextField:focus {
    outline: none !important;
}

.formInputContainer {
    border: none;
}

.formInputContainer:has(#classesList), .formInputContainer:has(#razasList)  {
    height: 100%;
    grid-template-rows: 60px 96px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.formInputContainer:has(#classesList):has(.selecting) {
        grid-template-rows: 60px auto auto;
}

.formInputContainer:has(#razasList):has(.selecting) {
        grid-template-rows: 60px auto auto;
}

.loginDecorate {
	background-image: url("../resources/imgs/full.png");
	background-size: cover;
    background-position: center;
	border-radius: 0 20px 20px 0;
}

.loginOption form {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 45px;
}

#formLogo {
    border-radius: 50%;
    height: 5%;
    width: 5%;
    margin: auto;
}

.formInputContainer {
    display: grid;
}

.formInputContainer span {
    transition: 0.4s;
    margin-left: 25px;
    position: absolute;
    margin-top: 14px;
    font-size: 12px;
    text-transform: uppercase;
    color: #b77d3b;
    pointer-events: none;
}


.focused {
    transition: 0.4s;
    margin-top: -10px !important;
}

.formLinkContainer {
    display: grid;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 40%);
    border: 2px solid #b77d3b;
    padding: 10px;
    cursor: pointer;
}

.formSubmitContainer {
    display: flex;
    border-radius: 10px;
    /* background-color: #b77d3b; */
    /* outline: 2px solid  rgb(0 0 0 / 40%); */
    padding: 10px;
    /* cursor: pointer; */
    margin: 0 4%;
    gap:20px
}


.formLinkContainer span {
    text-align: center;
    color: #b77d3b;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.formSubmitContainer input {
    text-align: center;
    color: black;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formFieldsContainer{
    margin: 2% 5%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    overflow: hidden;
    grid-template-rows: 110px calc(100% - 130px);
}

#formFieldsContainer .inputFicha{
    grid-column: 1 / 3;
}

#formContainer .formInputContainer .formTextField::placeholder{
    text-transform: uppercase;
    color: #b77d3b;
}

form input[type="text"], form input[type="password"] {
    background-color: rgb(0 0 0 / 40%);
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    -webkit-box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 40%);
    border: none;
    font-size: 12px;
}

.formTextField:focus {
    outline: none !important;
}

.formInputContainer {
    border: none;
}


.mist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/imgs/mist.png');
    background-size: 600px 600px; /* o 100% según el diseño */
    background-repeat: repeat;
    opacity: 0.3; /* muy sutil */
    animation: mover-bruma 120s linear infinite;
    z-index: 0;
    pointer-events: none;
}

@keyframes mover-bruma {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}
#steps {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#step1 {
    display: block;
    padding: 40px 0px;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-gap: 40px;
}

#charImgContainer {
    background-image: url("../resources/imgs/cave.jpg");
    box-shadow: 1px 1px 20px 40px rgba(30,30,30,1) inset;
    -webkit-box-shadow: 1px 1px 20px 40px rgba(30,30,30,1) inset;
    -moz-box-shadow: 1px 1px 20px 40px rgba(30,30,30,1) inset;
    margin: 0px 60px;
    background-position: center;
    background-size: cover;
    display: grid;
    overflow: hidden;
    align-content: center;
}

.charImgClean {
    background-image: none !important;
}

#formImage {
    width: 100%;
}

#formContainer form {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}


.button, #submitInput {
    display: grid;
    border-radius: 10px;
    background-color: #b77d3b;
    outline: 2px solid rgb(0 0 0 / 40%);
    width: 100%;
    /* text-align: center; */
    cursor: pointer;
    align-content: center;
    justify-content: center;
    user-select: none;
}

#submitInput {
    /* display: none; */
}
#prevStep {
    display: none;
}

.fileInputContainer {
    position: relative;
    display: inline-block;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Cinzel', serif; /* o la que estés usando */
    font-size: 10px;
    color: #b77d3b;
    background-color: transparent;
    border: 2px solid #b77d3b;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 10px rgba(215, 164, 65, 0.3);
  }
  
  .custom-file-upload:hover {
    background-color: #b77d3b;
    color: #1a1a1a;
  }

  label {
    user-select: none;
  }

  i {
    display: grid;
    align-content: center;
    color: #b77d3b;
  }

  .subtitleContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
  #helper h2 {
    font-size: 10px;
  }


#classesList {
    display: grid;
    overflow-y: scroll;
    grid-template-rows: auto;
    height: fit-content;
}
#classesList.selecting {
    height: 100%;
}
.clase-option {
    border: 2px solid #653d14;
    border-radius: 8px;
    padding: 8px;
    margin: 3px 0;
    background-color: #b77d3b;
    cursor: pointer;
    transition: border 0.3s;
    height: fit-content;
}
.clase-option:hover {
    border-color: #888;
}
.clase-option input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
    appearance: none;
    display: none;
}
.clase-option.selected {
    border-color: #b77d3b;
    background-color: #653d14;
    color: #c7c7c7
}


small {
    font-size: 10px;
}
.charStep:has(#formName) {grid-area: 1 / 1 / 2 / 3;display: grid;grid-template-columns: 25% 25% 25% 25%; }
.charStep:has(#classesList) {grid-area: 2 / 1 / 3 / 2;}
.charStep:has(#razasList) {grid-area: 2 / 2 / 3 / 3;}
.formInputContainer:has(#classesList) h3 { grid-area: 1 / 1 / 2 / 2; }
#classesList { grid-area: 2 / 1 / 3 / 2; }
#classInfo { grid-area: 3 / 1 / 4 / 2; overflow-y: scroll;}

#classInfo div {
    padding: 5px 0;
    border: 1px solid #c7c7c7;
    border-style: solid hidden hidden;
}   

#classInfo * { 
    margin: 2px 0;
}

#classInfo p {
    font-size: 12px;
    color: #c7c7c7
}
#classInfo h5 {
    font-size: 16px;
}



#razasList {
    display: grid;
    overflow-y: scroll;
    grid-template-rows: auto;
    height: fit-content;
}
#razasList.selecting {
    height: 100%;
}
.raza-option {
    border: 2px solid #653d14;
    border-radius: 8px;
    padding: 8px;
    margin: 3px 0;
    background-color: #b77d3b;
    cursor: pointer;
    transition: border 0.3s;
    height: fit-content;
}
.raza-option:hover {
    border-color: #888;
}
.raza-option input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
    appearance: none;
    display: none;
}
.raza-option.selected {
    border-color: #b77d3b;
    background-color: #653d14;
    color: #c7c7c7
}

.formInputContainer:has(#razasList) h3 { grid-area: 1 / 1 / 2 / 2; }
#razasList { grid-area: 2 / 1 / 3 / 2; }
#razasInfo { grid-area: 3 / 1 / 4 / 2; overflow-y: scroll;}

#razasInfo div {
    padding: 5px 0;
    border: 1px solid #c7c7c7;
    border-style: solid hidden hidden;
}   

#razasInfo * { 
    margin: 2px 0;
}

#razasInfo p {
    font-size: 12px;
    color: #c7c7c7
}
#razasInfo h5 {
    font-size: 16px;
}

.inputFileContainer {
    display: grid;
    justify-content: center;
    align-items: center;
}