#header {
    width: 100vw;
    background-color: #653d14;
    height:100px;
    margin: 0px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#centerPanel {
    display: grid;
    align-content: center;
    justify-content: center;
}

#rightPanel {
    display: grid;
    align-content: center;
    justify-content: right;
    padding: 20px;
}

#accountButton {
    display: grid;
    align-content: center;
    justify-content: center ;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    background: #653d14;
    -webkit-box-shadow: 5px 5px 11px #4b0400, -5px -5px 11px #870600;
    box-shadow: 5px 5px 11px #3b240c, -5px -5px 11px #814e1a, inset 5px 5px 11px #814e1a, inset -5px -5px 11px #3b240c;
    cursor: pointer;
}

.accountButtonPressed {
    box-shadow: 5px 5px 11px #3b240c, -5px -5px 11px #814e1a !important;
}

#accountButton img {
    width: 25px;
    height: 25px;
}

#logo {
    height: 70px;
}

  