@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.ql-font-cinzel {
    font-family: 'Cinzel', serif;
  }
  .ql-font-uncial {
    font-family: 'Uncial Antiqua', cursive;
  }
  .ql-font-merriweather {
    font-family: 'Merriweather', serif;
  }
  .ql-font-librebaskerville {
    font-family: 'Libre Baskerville', serif;
  }
  .ql-font-ebgaramond {
    font-family: 'EB Garamond', serif;
  }

body {
    margin: 0;
}

* {
  font-family: "EB Garamond", serif;
}

h1 {
    font-family: "Cinzel", serif;
}

h2, h3 {
    
  font-family: "Uncial Antiqua", system-ui;
}

h1, h2, h3 {
    color: #b77d3b;
}

#content {
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
    padding: 5px;
    gap: 5px;
}

#leftBar {
    width: 50px;
    border-radius: 8px;
}

#leftBar.open {
    min-width: 250px;
    width: 250px;
}
#leftBar.open #leftColumnContent {
    width: 250px
}

#mainContent.dark {
    background-color: #2e2e2e;
    width: 100%;
    border-radius: 8px;
    height: calc(100vh - 160px);
}

.title {
    font-family: system-ui;
}

.mainContentScreen {
    display: none;
}

#mainIframe {
    width: 100%;
    height: 100%;
    margin: none;
    border-radius: 8px;
}

* {
    --sb-track-color: #202020;
    --sb-thumb-color: #b77d3b;
    --sb-size: 10px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 2px;
}