#leftBar {
    background-color: #F2F4F3;
    width: 250px;
    height: calc(100vh - 150px);
}

#leftBar.dark {
    background-color: #202020;
}

#leftColumnContent {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 100%;
    padding-top: 10px;;
}

.lcOption {
    width: 85%;
    height: 55px;
    border-radius: 10px;
    background: linear-gradient(145deg, #2b2b2b, #242424);
    justify-self: center;
    color: #5b5b5b;
    padding: 10px 10px;
    cursor: pointer;
}

