body {
    margin: 0 20px;
}

#editorContainer {
    width: 80%;
    max-width: 880px;
    margin: auto;
}

#editorContainer *{
    border: none;
    stroke: #b77d3b;
}

.ql-toolbar {
    border-radius: 20px 20px 0 0;
    background: #121212;
}

.ql-editor {
    background: #202020;
    color: azure;
    background-image: url("../resources/imgs/fondo.png");
    background-size: cover;
    height: 400px !important;
}

.ql-editor {
    color: #3b2f2f;
    border-radius: 0 0 20px 20px;
}

.ql-editor p {
    font-size: 15px;
}

.ql-picker-label::before {
    color: #b77d3b;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 2px !important;
}

.ql-custom-button {
    background-color: #b77d3b !important;
    width: 100% !important;
    border-radius: 5px;
}


.subDiv {
    display: flex;
    justify-content: space-between;
    color: #b77d3b;
}
.subDiv a {
    text-decoration: none;
    padding: 0 10px;
    color: #b77d3b;
}
.subDiv a:visited {
    color: #b77d3b;
}