body {
    margin: 0 20px;
}

#editorContainer {
    width: 80%;
    max-width: 880px;
    margin: auto;
}

#editorContainer *{
    border: none;
    stroke: #b77d3b;
}

.ql-toolbar {
    border-radius: 20px 20px 0 0;
    background: #121212;
}

.ql-editor {
    background: #202020;
    color: azure;
    /* background-image: url("../resources/imgs/fondo.png"); */
    background-size: cover;
    min-height: 400px !important;
    max-height: 666px !important;
}

.ql-editor {
    color: #f3f3f3;
    border-radius: 0 0 20px 20px;
}

.ql-editor p {
    font-size: 15px;
}

.ql-picker-label::before {
    color: #b77d3b;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 2px !important;
}

.ql-custom-button {
    background-color: #b77d3b !important;
    background-color: #ffb057 !important;
    width: 100% !important;
    border-radius: 5px;
}


.subDiv {
    display: flex;
    justify-content: space-between;
    color: #b77d3b;
}
.subDiv a {
    text-decoration: none;
    padding: 0 10px;
    color: #b77d3b;
}
.subDiv a:visited {
    color: #b77d3b;
}

.mist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/imgs/mist.png');
    background-size: 600px 600px; /* o 100% según el diseño */
    background-repeat: repeat;
    opacity: 0.2; /* muy sutil */
    animation: mover-bruma 120s linear infinite;
    z-index: 0;
    pointer-events: none;
}

@keyframes mover-bruma {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="cinzel"]::before {
    content: "Cinzel";
    font-family: 'Cinzel', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="uncial"]::before {
    content: "Uncial Antiqua";
    font-family: 'Uncial Antiqua', cursive;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="merriweather"]::before {
    content: "Merriweather";
    font-family: 'Merriweather', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="librebaskerville"]::before {
    content: "Libre Baskerville";
    font-family: 'Libre Baskerville', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="ebgaramond"]::before {
    content: "EB Garamond";
    font-family: 'EB Garamond', serif;
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="cinzel"]::before {
    content: "Cinzel";
    font-family: 'Cinzel', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="uncial"]::before {
    content: "Uncial Antiqua";
    font-family: 'Uncial Antiqua', cursive;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="merriweather"]::before {
    content: "Merriweather";
    font-family: 'Merriweather', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="librebaskerville"]::before {
    content: "Libre Baskerville";
    font-family: 'Libre Baskerville', serif;
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="ebgaramond"]::before {
    content: "EB Garamond";
    font-family: 'EB Garamond', serif;
  }
  