.charactersDiv {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#popUpLike, #embedContainer {
    display: none;
    position: fixed;
    top:10%;
    left: 15%;
    width: 80%;
    height: 80%;
}

.charOption {
    display: grid;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    grid-template-rows: 200px auto;
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
}

.charOption img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.charOption h2 {
    background-color: #653d14;
    color: #b77d3b;
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#embedTopBar {
    display: grid;
    justify-content: end;
    background-color: #202020;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#closeEmbed {
    display: grid;
    background-color: #690500;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.addChar {
    display: grid;
    position: relative;
    overflow: hidden;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px 10px 5px 5px;
    background-color: #333333;
    align-content: center;
    justify-content: center;
    font-size: 58px;
}

.addChar a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    z-index: 2;
}

.addChar a span{
    transition: .2s;
    background-color: #653d14;
    color: #b77d3b;
    height: 20%;
    width: 15%;
    border-radius: 10px;
}

.addChar a:hover span{
    transition: .2s;
    background-color: transparent;
    color: transparent;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 100%;
    background-image: url(../resources/imgs/book.jpg);
    background-size: 100%;
    background-position: center;
    box-sizing: border-box;
}