#spellDiv h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

#spellDiv h1, #spellDiv h2, #spellDiv h3  {
    color: #b77d3b;
}

#spellSubTitle {
    color: #5b5b5b;
    display: block;
}

.spellInfo {
    color: #b2b2b2;
    margin: 10px 0;
    display: block;
}